<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo} + ' · SigoPark'">SigoPark</title>
    <link rel="stylesheet" th:ref="@{/css/estilos.css}">
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar">
            <div clas="navbar-brand">
                <img th:src="@{/img/logo.png}" alt="SigoPark" class="logo">
                <span>SigoPark</span>
            </div>
            <ul class="navbar-links">
                <li><a th:href="@{/ocupacion}">Ocupacion</a></li>
                <li><a th:href="@{/entrada}">Registro de Entrada</a></li>
                <li><a th:href="@{/salida}">Registro de salida</a></li>
                <li><a th:href="@{/vehiculos}">Vehiculos</a></li>
                <li><a th:href="@{/resumen}">Resumen</a></li>
            </ul>
            <div class="navbar-user">
                <span th:text="${usuario}">Usuario</span>
                <a th:href="@{/logout}">Cerrar sesion</a>
            </div>
        </nav>
    </header>
    <footer th:frangments="footer">
        <p>&copy; 2026 SigoParking — Proyecto de Aula</p>
    </footer>
</body>
</html>