<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocupacion - SigoPark</title>
    <link rel="stylesheet" href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/layout :: header}"></div>

    <main class="ocupacion-contenedor">
        <h1>Ocupacion parqueo</h1>

        <section class="resumen-cards">
            <div class="card card-total">
                <span class="card-numero" th:text="${totalEspacio}">0</span>
                <span class="card-label">Espacio totales</span>
            </div>
            <div class="card card-ocupados">
                <span class="card-numero" th:text="${espaciosOcupados}">0</span>
                <span class="card-label">Ocupados</span>
            </div>
            <div class="card card-disponible">
                <span class="card-numero" th:text="${espaciosDisponibles}">0</span>
                <span class="card-label">Disponibles</span>
            </div>
        </section>

        <section th:each="zona : ${zonas}" class="zona-bloque">
            <h2 th:text="${zona.nombre}">Nombre de la zona</h2>

            <div class="espacio-grid">
                <div th:each="espacio : ${zona.espacios}" class="espacio-item"
                    th:classappend="${espacio.ocupado} ? 'ocuapdo' : 'disponible'">
                    <span th:text="${espacio.numero}">1</span>
                </div>
                
            </div>

        </section>
        <p th:if="${#lists.isEmpty(zonas)}" class="sin-datos">
            No hay zonas registrada todavia
        </p>
    </main>
    <div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>